@page
@model FribergCarRentalsRazorP.Pages.Vehicles.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<nav></nav>
<main>
    <section>
        <h1>Details</h1>
	</section>
    <table>
        <tr>
			<th>
				@Html.DisplayNameFor(model => model.Vehicle.VehiclePicture)
			</th>
            <th>
				@Html.DisplayNameFor(model => model.Vehicle.Make)
            </th>
            <th>
				@Html.DisplayNameFor(model => model.Vehicle.Model)
            </th>
            <th>
				@Html.DisplayNameFor(model => model.Vehicle.ModelYear)
            </th>
            <th>
				@Html.DisplayNameFor(model => model.Vehicle.Price)
            </th>

        </tr>
        <tr>
			<td>
                <img style="width:10vmax;" src="@Html.DisplayFor(model => model.Vehicle.VehiclePicture)" />
			</td>
            <td>
				@Html.DisplayFor(model => model.Vehicle.Make)
            </td>
            <td>
				@Html.DisplayFor(model => model.Vehicle.Model)
            </td>
            <td>
				@Html.DisplayFor(model => model.Vehicle.ModelYear)
            </td>
            <td>
				@Html.DisplayFor(model => model.Vehicle.Price)
            </td>
        </tr>
    </table>
</main>