@page
@model FribergCarRentalsRazorP.Pages.Customers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<nav></nav>
<main>
    <section>
		<h1>Delete</h1>
        <h3>Are you sure you want to delete this?</h3>
    </section>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Password)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Customer.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.Customer.Password)
            </td>
        </tr>
    </table>
    <div class="container">
		<form method="post">
			<input type="hidden" asp-for="Customer.Id" />
			<input class="btn btn--negativ box-shadow" type="submit" value="Delete" />
		</form>
        <a class="btn btn--standard box-shadow" asp-page="./Index">Back to List</a>
    </div>
</main>
