@page
@model FribergCarRentalsRazorP.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<nav></nav>
<main>
    <section>
        <h1>Details</h1>
    </section>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Password)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Customer.Email)         
             </td>
            <td>
                @Html.DisplayFor(model => model.Customer.Password)
            </td>
        </tr>   
    </table>
    <div class="container">
        <a class="btn btn--standard box-shadow" asp-page="./Edit" asp-route-id="@Model.Customer.Id">Edit</a> 
        <a class="btn btn--standard box-shadow" asp-page="./Index">Back to List</a>
    </div>
</main>
