@page
@model FribergCarRentalsRazorP.Pages.Bookings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<nav></nav>
<main>
    <section>
		<h1>Delete</h1>
        <h3>Are you sure you want to delete this?</h3>
	</section>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Booking.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking.BookingStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking.BookingEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking.Customer.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking.Customer.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking.Vehicle.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking.Vehicle.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking.Vehicle.ModelYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking.Vehicle.Price)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Booking.Id)
        </td>
        <td>
            @Html.DisplayFor(model => model.Booking.BookingStart)
        </td>
        <td>
            @Html.DisplayFor(model => model.Booking.BookingEnd)
        </td>
        <td>
            @Html.DisplayFor(model => model.Booking.Customer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Booking.Customer.LastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Booking.Customer.Email)
        </td>
        <td>
            @Html.DisplayFor(model => model.Booking.Vehicle.Make)
        </td>
        <td>
            @Html.DisplayFor(model => model.Booking.Vehicle.Model)
        </td>
        <td>
            @Html.DisplayFor(model => model.Booking.Vehicle.ModelYear)
        </td>
        <td>
            <p>@Html.DisplayFor(model => model.Booking.Vehicle.Price)Kr</p>
        </td>
    </tr>
</table>
    <section>
        <div>
            <form method="post">
                <input type="hidden" asp-for="Booking.Id" />
				<input class="btn btn--negativ box-shadow" type="submit" value="Delete" />
                <a class="btn btn--standard box-shadow" asp-page="./Index">Back to List</a>
            </form>
		</div>
	</section>
</main>
