@page
@model FribergCarRentalsRazorP.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<nav></nav>
<main>
    <section>
<h1>Booking details</h1>
	</section>
<table>
    <tr>
        <th>
			@Html.DisplayNameFor(model => model.Booking.Id)
        </th>
		<th>
                @Html.DisplayNameFor(model => model.Booking.BookingStart)
		</th>
        <th>
				@Html.DisplayNameFor(model => model.Booking.BookingEnd)
        </th>
        <th>
				@Html.DisplayNameFor(model => model.Booking.Customer.FirstName)
        </th>
        <th>
				@Html.DisplayNameFor(model => model.Booking.Customer.LastName)
        </th>
        <th>
				@Html.DisplayNameFor(model => model.Booking.Customer.Email)
        </th>
        <th>
				@Html.DisplayNameFor(model => model.Booking.Vehicle.Make)
        </th>
        <th>
				@Html.DisplayNameFor(model => model.Booking.Vehicle.Model)
        </th>
        <th>
				@Html.DisplayNameFor(model => model.Booking.Vehicle.ModelYear)
        </th>
        <th>
				@Html.DisplayNameFor(model => model.Booking.Vehicle.Price)
        </th>
    </tr>
    <tr>
        <td>
				@Html.DisplayFor(model => model.Booking.Id)
        </td>
        <td>
				@Html.DisplayFor(model => model.Booking.BookingStart)
        </td>
        <td>
				@Html.DisplayFor(model => model.Booking.BookingEnd)
        </td>
        <td>
				@Html.DisplayFor(model => model.Booking.Customer.FirstName)
        </td>
        <td>
				@Html.DisplayFor(model => model.Booking.Customer.LastName)
        </td>
		<td>
				@Html.DisplayFor(model => model.Booking.Customer.Email)
        </td>
        <td>
				@Html.DisplayFor(model => model.Booking.Vehicle.Make)
        </td>
        <td>
				@Html.DisplayFor(model => model.Booking.Vehicle.Model)
        </td>
        <td>
				@Html.DisplayFor(model => model.Booking.Vehicle.ModelYear)
        </td>
		<td>	
				<p>@Html.DisplayFor(model => model.Booking.Vehicle.Price)Kr</p>
        </td>
    </tr>
</table>
    <section>
        <div>
            <a class="btn btn--standard box-shadow" asp-page="./Index">Back to List</a>
		</div>
	</section>
</main>
