@page
@model FribergCarRentalsRazorP.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}
<nav></nav>
<main>
    <section>
		<h1>Active bookings</h1>
	</section>

<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.ElementAt(0).Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.ElementAt(0).BookingStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.ElementAt(0).BookingEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.ElementAt(0).Customer.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.ElementAt(0).Vehicle.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.ElementAt(0).Vehicle.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.ElementAt(0).Vehicle.ModelYear)
            </th>
            <th></th>
        </tr>
@foreach (var item in Model.Bookings.Where(i=>i.BookingStart > DateTime.Now)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.ModelYear)
            </td>
            <td>
                <a class="btn btn--standard box-shadow" asp-page="./Edit" asp-route-id="@item.Id">Edit date</a> 
                <a class="btn btn--standard box-shadow" asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn--negativ box-shadow" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
</table>
<section>
<h1>
    Booking history
		</h1>
</section>
<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.ElementAt(0).Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.ElementAt(0).BookingStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.ElementAt(0).BookingEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.ElementAt(0).Customer.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.ElementAt(0).Vehicle.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.ElementAt(0).Vehicle.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.ElementAt(0).Vehicle.ModelYear)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.Bookings.Where(i => i.BookingEnd < DateTime.Now))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.ModelYear)
                </td>
                <td>
                    <a class="btn btn--standard box-shadow" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
</table>
</main>
