@page
@model FribergCarRentalsRazorP.Pages.Bookings.IndexVehicleBookingModel

@{
    ViewData["Title"] = "IndexVehicleBooking";
}
<nav>
    <ul></ul>
</nav>
<main>
    <section>
        <h1>Vehicles</h1>
	</section>
    <table>
        <tr>
		    <th>
			    @Html.DisplayNameFor(model => model.Vehicles.ElementAt(0).VehiclePicture)
		    </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.ElementAt(0).Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.ElementAt(0).Model)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Vehicles.ElementAt(0).ModelYear)
              </th>
            <th>
              @Html.DisplayNameFor(model => model.Vehicles.ElementAt(0).Price)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.Vehicles)
        {
            <tr>
		        <td>
			        <img style="width:10vmax;" src="@Html.DisplayFor(modelItem => item.VehiclePicture)" />
			    </td>
                <td>
                   @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.ModelYear)
                </td>
                <td>
				    <p>@Html.DisplayFor(modelItem => item.Price)Kr</p>
                </td>         
                <td>
                    <a class="btn btn--positiv box-shadow" asp-page="./Create" asp-route-vehicleId="@item.Id">Book</a>
                    <a class ="btn btn--standard box-shadow" asp-page="/Vehicles/Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </table>
</main>