@page
@model FribergCarRentalsRazorP.Pages.Admins.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<nav></nav>
<main>
    <section>
        <h1>Details</h1>
    </section>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Admin.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin.Password)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Admin.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Admin.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Admin.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.Admin.Password)
            </td>
        </tr>
    </table>
    <div class="container">
        <a class="btn btn--standard box-shadow" asp-page="./Edit" asp-route-id="@Model.Admin.Id">Edit</a>
        <a class="btn btn--standard box-shadow" asp-page="./List">Back to List</a>
    </div>
</main>


